.all-movies-filter-ribbon {
  height: 6vh;
  min-height: 30px;
}

.search-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.searchbar {
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  width: 20%;
  height: 50%;
  background-color: #edebebcd;
}