.single-movie-view {
  position: relative;
  width: 100vw;
}

.single-movie-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.single-movie-background img {
  width: 100%;
  object-fit: cover;
  opacity: 0.25;
}

.sub-details {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}

.details-content {
  position: absolute;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
}

.details {
  width: 40%;
}

@media (max-width: 1200px) {
  .details-content {
    flex-direction: column;
  }

  .details {
    width: 55%;
  }
}

@media (max-width: 950px) {
  .sub-details {
    flex-direction: column;
  }

  .details {
    width: 70%;
  }
}


.movie-details-poster-container {
  height: 40vw;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-details-poster-container img {
  height: 80%;
}

.back-icon-container img {
  max-height: 13vw;
  min-height: 25px;
  opacity: 0.3;
  transition: 0.2s ease-in-out;
}

.back-icon-container:hover img {
  opacity: 1;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.error-message {
  color: rgba(255, 255, 255, 0.314);
  font-size: 30px;
}