.movie-card {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card-title {
  margin-top: 10px;
}

.movie-poster {
  height: 300px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.495);
  color: white;
}

.movie-card h3:hover {
  cursor: pointer;
}

.movie-card-image-container {
  overflow: hidden;
}

.movie-card-image-container img {
  transition: 0.3s ease-in-out;
}

.movie-card-image-container:hover img {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}